body {
  position: fixed;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #c1c1c1;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}
.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.top-nav {
  background-color: #333;
  justify-content: center;
  display: flex;
}

.top-nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.top-nav a:hover {
  background-color: #ddd;
  color: black;
}

.top-nav a:active {
  background-color: #5daa04;
  color: white;
}

.menu-details {
  width: auto;
  height: auto;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding: 20px;
}

.menu-details .section-header {
  font-size: 19px;
  font-weight: bold;
}

.menu-item {
  border-radius: 25px;
  border: 2px solid #73ad21;
  padding: 10px 20px 10px 20px;
  margin: 20px 0px 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-item .item-status {
  border-radius: 25px;
  background: #73ad21;
  padding: 10px;
  display: inline-block;
}

.menu-item .status {
  display: flex;
  justify-content: center;
}

.menu-item .item-price {
  display: flex;
  justify-content: end;
}

.menu-item > * {
  flex: 1 1 0;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  background-color: #333;
}
